@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	border-width: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

body {
	background: #F9F8F7;
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica,
		"Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
		"STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.head_font {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

.ul-class {
	list-style: none;
	height: 100%;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	color: #9d9d9d;
}

.ul-class li {
	float: left;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	width: 80px;
	margin: 0 40px 0 40px;
}

.ul-class li a {
	color: #9d9d9d;
	text-decoration: none;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.ul-class li a:HOVER {
	color: #fff;
	cursor: pointer;
}

.navbar {
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	background: black;
	padding: 0 10% 0 10%;
	top: 0;
	left: 0;
	z-index: 99;
	text-align: center;
	font-size: 18px;
}

.navbar_a {
	color: #9d9d9d;
	display: inline-block;
	position: relative;
	left: 10%;
	float: right;
	text-decoration: none;
	width: 80px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}

.navbar_a:HOVER {
	color: #fff;
}

.content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#article_side {
	width: 338px;
	height: 1290px;
	float: right;
}

#sponsor {
	width: 338px;
	height: 400px;
	background-color: #E0E0E0;
}

#hotnews {
	width: 338px;
	height: 400px;
	margin-top: 30px;
	background-color: #E0E0E0;
}

#article_area {
	width: 862px;
	background: #fff;
}

#article_left_btn {
	position: fixed;
	width: 60px;
	height: 300px;
	float: left;
	background-color: #E0E0E0;
	opacity: 0.8;
}

.article_left_btn_ul {
	width: 60px;
	height: 300px;
	text-align: center;
}

.article_left_btn_ul li {
	width: 60px;
	height: 60px;
}

.article_left_btn_ul li a {
	height: 60px;
}

.article_left_btn_ul li a>span {
	line-height: 60px;
}

.article_left_btn_ul li a>img {
	vertical-align: middle;
}

.article_left_btn_ul li:hover {
	background-color: orange;
	cursor: pointer;
}

#inner_article {
	width: 802px;
	margin-left: 60px;
}

#article_author {
	width: 802px;
	height: 20px;
	opacity: 0.4;
}

#article_imgbox {
	width: 802px;
	height: 378px;
	padding: 20px;
	background-color: #fff;
	text-align: center;
}

#commentList li {
	width: 100%;
	padding: 15px 0 15px 0;
	background-color: #fff;
}

.commentUsers {
	display: inline-block;
	width: 40px;
	margin-right: 10px;
	height: 40px;
	background-color: #e0e0e0;
	vertical-align: top;
}

#article_content {
	width: 802px;
	background-color: #fff;
}

#article_rights {
	width: 802px;
}

#article-comment {
	width: 802px;
	margin-top: 10px;
	background-color: #e0e0e0;
}

#comment_area {
	width: 100%;
	margin-top: 10px;
}

#comment_author {
	width: 802px;
	height: 80px;
	background-color: #fff;
}

#comment_name {
	width: 80px;
	height: 80px;
	display: inline-block;
	position: relative;
	line-height: 80px;
	vertical-align: middle;
}

.form_textbox {
	width: 100%;
	height: 200px;
	position: relative;
}

.textbox {
	padding: 10px;
	font-family: inherit;
	box-sizing: border-box;
	border: 0;
}

.form-send {
	width: 60px;
	height: 40px;
	background-color: #2376BC;
	border: none;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 3px;
}

.footer {
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color: black;
	color: #9d9d9d;
}